# Python
__pycache__/
*.pyc
.venv/

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Optional
*.log
kokoro-v0_19.pth
voices/
vectorstore/
.env.local
.venv/
__pycache__/
uploads/
